{% extends "AppBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Désabonnement
{% endblock %}

{% block content %}

<div class="col-xs-12 col-md-6 col-md-offset-3">
	<hr>
	<h3 class="text-center">Désabonnement</h3>	
	<hr>

	<p class="text-center">{{unsuscribe.email}}</p>
	<hr>

	<p class="text-center">
		Votre désabonnement de nos listes a bien été pris en compte.<br />
		&nbsp;<br />
		Merci.
	</p>

	<hr>

</div>
	
{% endblock %}