{% extends "AppBundle:layout:layout.html.twig" %}

{% block title %}
	{{ parent() }} - Désabonnement
{% endblock %}

{% block content %}
	<hr>
	<h1 class="text-center">Désabonnement</h1>	

	
{% endblock %}