.kpi-box{
	.inside{
		background: $content-bg-color;
		min-height: 150px;
		padding-bottom: 20px;
		border: 1px solid #ccc;

		&.top{
			height: auto;
			padding-bottom: 15px;
			min-height: 150px !important;
			border:0;

			div.green-box{
				background: $kpi-green-box;
				color:white;
				padding: 15px 0 10px 0;
				height:100px;

				h3{
					margin-top: 0px !important;
					color: white;
				}
			}

			div.gray-box{
				background: #faf9f9;
				color:white;
				padding: 10px 0 10px 0;

				h3{
					margin-top: 0px !important;
					color: black;
				}
			}
		}

		&.rappel{
			min-height: 150px !important;
		}
	}

	h4,h3{
		background: $title-kpi-box-color;
		padding:10px 0;
	}

	.img-container{
		height: 300px;
		margin: 15px 0;
	}
}

.circle{
	height: 200px;
	width:200px;
	margin:15px auto;
	border-radius:100px;
	color:white;
	padding-top:60px;
	font-size:18px;
	line-height:20px;

	&.greenCircle {
		background-color:#16a085;
	}
	&.yellowCircle {
		background-color:#f2ce18;
	}
}